body {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    background-color: hsl(223, 19%, 93%);
}

.comment {
    display: flex;
    margin: 20px auto;
    padding: 10px;
    width: 70%;
    max-width: 700px;
    min-width: 500px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(211, 10%, 45%);
    border-radius: 8px;
}

.pfp {
    margin-top: 0;
    border-radius: 12px;
    margin-right: 16px;
}

.votes {
    margin: auto;
    background-color: hsl(223, 19%, 93%);
    color: hsl(238, 40%, 52%);
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.commentTop {
    display: flex;
    margin-bottom: 10px;  
    margin-top: 10px;   
}

.date{
    color: hsl(211, 10%, 45%);
    margin-left: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.user {
    color: hsl(238, 40%, 52%);
    margin-top: auto;
    margin-bottom: auto;
}

img {
    height: 30px;
}

.repliedComment {
    margin-bottom: 10px;
    margin-right: 20px;
}

.arrow {
    color: hsl(211, 10%, 45%);
    margin: 4px;
    margin-bottom: 8px;
}

.number {
    text-align: center;
}

.arrow, .user, .pfp, .reply {
    cursor: pointer
}

.commentReply {
    display: flex;
    margin: auto;
    padding-left: 20px;
    width: 60%;
    max-width: 600px;
    min-width: 400px;
    border-left: 2px solid hsl(239, 57%, 85%);;
}

.body {
    display: flex;
    margin: 20px auto;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(211, 10%, 45%);
    border-radius: 8px;
}

.replyContainer{
    display: flex;
    justify-content: right;
    margin: auto;
    margin-right: 8px;
}

.reply {
    color: hsl(238, 40%, 52%);
}

.you {
    margin-left: 10px;
    padding: 4px;
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: hsl(238, 40%, 52%);
    color:white;
}
.delete {
    color: hsl(358, 79%, 66%);
}